#navbar {
  position: sticky;
  z-index: 10;
  padding: 16px 24px;
  background-color: #E6DBD0;
  width: 100%;
}

#navbar li {
  list-style: none;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
}


.nav-link {
  color: #424242;
  text-decoration: none;
}

.nav-item {
  display: inline-block;
}
