@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&family=Lexend+Deca&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eff1f3;
  padding: 0 5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
}
